<div class="container mt-5">
    <h3>Contact Management Application</h3>
    <button class="btn btn-success mb-3" (click)="addNewContact()">New</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts">
                <td>{{ contact.id }}</td>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.email }}</td>
                <td>
                    <button class="btn btn-primary" (click)="editContact(contact.id)">Edit</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteContact(contact.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
      <!-- Container for the dynamic modal component -->
  <ng-template #modalContainer></ng-template>
</div>